*{
	margin: 0px;
	padding: 0px;
}
body{
	/*background: green;*/
	position: relative;
	font-family: "宋体";
    font-size: 12px;
}
/*顶部大框*/
#top{
	width: 100%;
	background-color: #F7F7F7;
	height: 33px;
	border: 1px solid #CCCCCC;
	border-top: none;
}
/*顶部大框结束*/
/*顶部居中div*/
#top .top_h{
	width: 1200px;
	height: 33px;
	line-height: 33px;
	color: #333333;
    font-family: "宋体";
    font-size: 12px;
    margin: 0 auto;
    /*border: 1px solid #CCCCCC;*/
}
/*顶部居中div结束*/
/*顶部左侧*/
#top .top_h .top_h_l{
	float: left;
	/*padding-left: 15px;*/
}
/*顶部左侧结束*/

#top .top_h .top_h_l a{
	text-decoration: none;
	color: #333333;
}
#top .top_h .top_h_l .login a{
	color: #A10000;
}
/*顶部中间部分*/
#top .top_h .top_h_m{
	padding-left: 480px;
	float: left;
}
/*顶部中间部分结束*/
#top .top_h .top_h_m a{
	/*border: 1px solid red;*/
	text-decoration: none;
	color: #333333;
	height: 33px;
	width: 55px;
	display: block;
	float: left;
	padding-right: 15px;
	background: url(../image/spritesbgtop.png) no-repeat 50px 16px ;
}

/*顶部right*/
#top .top_h .top_h_r{
	float: left;
	position: relative;
}

#top .top_h .top_h_r .phone{
	float: left;
	display: block;
	/*border: 1px solid green;*/
	width: 70px;
	height: 33px;
	margin-left: 20px;
	background: url(../image/spritesbgtop.png) no-repeat 0px -76px;
}
#top .top_h .top_h_r .weixin{
	float: left;
	display: block;
	/*border: 1px solid green;*/
	width: 17px;
	height: 17px;
	position: absolute;
	top: 9px;
	left: 100px;
	/*margin-left: 25px;*/
	background: url(../image/spritesbgtop.png) no-repeat -68px -121px;
}
#logo{
	width: 1260px;
	margin: 0 auto;
	/*border: 1px solid red;*/
	position: relative;
}
#logo .logo_l{
	/*padding-left: 110px;*/
	/*position: relative;*/
	/*left: 110px;*/
	width: 347px;
	height: 95px;
	background: url(../image/spritesbgtop.png) no-repeat 0px -148px;
	/*border:1px solid red;*/
}
#logo .logo_m .tab{
	/*border: 1px solid green;*/
	position: absolute;
	left: 430px;
	top:25px;
	
	
}
#logo .logo_m .tab a{
	color: white;
	line-height: 21px;
	width: 58px;
	height: 21px;
	background: #A10000  url(../image/spritesbgtop.png) no-repeat -252px -502px;
	display: block;
	float: left;
	/*border:1px solid red;*/
	text-decoration: none;
	text-align: center;
}
#logo .logo_m  .search{
	width: 530px;
	height: 27px;
	position: absolute;
	left:430px;
	color: #CCCCCC;
	top: 45px;
	border: 1px solid #A10000;

}
#logo .logo_m  .s_btn{
	border: 0px;
	width: 74px;
	height: 29px;
	background: url(../image/spritesbgtop.png) no-repeat 0px -272px;
	position: absolute;
	left:968px;
	top: 45px;
	cursor: pointer;
}

#logo .logo_r{
	width: 162px;
	height: 37px;
	position: absolute;
	right:32px;
	top: 32px;
	background: url(../image/spritesbgtop.png) no-repeat -243px -580px;
}

#logo .logo_r a{
	line-height: 37px;
	text-decoration: none;
	text-align: center;
	position: absolute;
	left: 42px;
	color: #333333;
	font-size: 12px;
	/*border:1px solid red;*/
}
#logo .logo_r span{
	color: #A10000;
	font-family: "宋体";
	font-weight: 400;

}
#logo .logo_r a .icon{
	display: block;
	/*float: left;*/
	left: 93px;
	top:16px;
	height: 6px;
	width: 3px;
	/*border: 1px solid red;*/
	background: url(../image/spritesbgtop.png) no-repeat 0px -502px;
	position: absolute;
}
/*导航条div开始*/
#nav{
	/*border:1px solid red;*/
	width: 100%;
	background: url(../image/nav_bg.jpg);
	height: 35px;
	position: relative;
}
#nav .topMenu{
	width: 1260px;
	margin:0px auto;
	position: absolute;
	left: 266px;
}
#nav .topMenu a{
	text-decoration: none;
	color: #ffffff;
	float: left;
	display: block;
	padding: 0px 18px 0 18px;
	line-height: 35px;
	font-size: 14px;
}
#nav .topMenu a:hover{
	background: #675241;
}
#nav .topMenu .topMenuRight{
	position: absolute;
	left:768px;
}
#nav .topMenu .topMenuRight .icon{
	width: 7px;
	height: 4px;
	background: url(../image/spritesbgtop.png) no-repeat -159px -122px;
	/*border:1px solid red;*/
	display: block;
	position: absolute;
	top: 16px;
	left: 223px;
}
/*导航条div结束*/
/*内容区域开始*/

/*所有商品分类开始*/
#list_left{
	position: absolute;
	top:120px;
	left:25px;
	width: 223px;
	height: 543px;
	/*border: 1px solid red;*/
	
}

#list_left .cpfl{

	display: block;
	width: 223px;
	font-family: "黑体";
	font-weight: 700;
	text-decoration: none;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	height: 72px;
	background: url(../image/spritesbgtop.png) no-repeat 0px -343px;
}
#list_left ul
{
	position: absolute;
	top:68px;
	width: 221px;
	height: 480px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCCFC4;
	border-top: none;
}
#list_left ul li{
	padding:0px;
	margin: 0px;
	width: 190px;
	height: 60px;
	list-style: none;
	margin: 0px auto;
	position: relative;
	/*border: 1px solid red;*/
}
#list_left ul li .nvz{
	display: block;
	height: 15px;
	width: 18px;
	background: url(../image/iconsprites.png) no-repeat -8px -6px;
	/*border:1px solid red;*/
	position: absolute;
	top:12px;

}
#list_left ul li h3{
	margin: 0px auto;
	position: absolute;
	top:12px;
	left:18px;
	height: 12px;
	line-height: 18px;
	font-size: 12px;
	font-weight: 700;
	font-family: 微软雅黑;
	/*border: 1px solid red;*/
}
#list_left ul li .one{
	border-bottom: 1px solid #C9C9C9;
	height: 27px;
	width: 188px;
	line-height: 20px;
	/*border: 1px solid green;*/
	position: absolute;
	top: 33px;

}
#list_left ul li .one a{
 	text-decoration: none;
 	color: #666666;
 	padding-right: 5px;
}
#list_left ul li .nanz{
	display: block;
	height: 15px;
	width: 18px;
	background: url(../image/iconsprites.png) no-repeat -39px -7px;
	/*border:1px solid red;*/
	position: absolute;
	top:15px;

}
#list_left ul li .nvx{
	display: block;
	height: 15px;
	width: 16px;
	background: url(../image/iconsprites.png) no-repeat -125px -9px;
	/*border:1px solid red;*/
	position: absolute;
	top:15px;

}
#list_left ul li .eight{
	border:none;
	height: 27px;
	line-height: 20px;
	/*border: 1px solid green;*/
	position: absolute;
	top: 33px;
}
#list_left ul li .eight a{
 	text-decoration: none;
 	color: #666666;
 	padding-right: 5px;
}

/*所有商品分类结束*/
/*内容区域结束*/
}